*{
  text-decoration: none;
}
body{
  font-family: arial;
  padding-top: 110px; 
  
}

.head {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.head nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 50px;
}
.head h1 {
  font-size: 24px;
  font-weight: bold;
}
.head .name {

  position: relative;
  padding: 4px 10px;
  color:black;
  border-radius: 8px;
  z-index: 0;
  white-space: nowrap;

}


.name:before {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  background: linear-gradient(
      45deg,
      #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #ff0000
  );
  background-size: 400%;
  border-radius: 10px;
  filter: blur(5px);
  z-index: -1;
  animation: glowing 20s linear infinite;
  opacity: 1; 
}


.name:after {
  content: '';
  position: absolute;
  inset: 0;
  background:white;
  border-radius: 8px;
  z-index: -1;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}



.head ul {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
  margin: 0;
}

.head li {
  font-size: 18px;
  cursor: pointer;
  padding: 8px 15px;
  border-radius: 5px;
  transition: 0.3s;
}
li a{
  color:inherit;
}

.head li.active{
    background: #6c5ce7;
    color: white;
}

.head h2 {
  padding: 8px 20px;
  background: #6c5ce7;
  color: white;
  border-radius: 25px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
  
}

.head h2.active-btn {
  background: #533fe0;
}
h2 a{
  color:inherit;
}


.home{
 display: flex;
 margin:2px;

 height:725px;
 box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.home p{
display: block;
white-space: normal;
align-self: center;
margin-left: 75px;
width:900px;
font-size: 40px;
}
.home img{
  margin:2px;
  padding-top:10px;
  object-fit: contain;
  height:auto;
  margin-left: 250px;
  display:flex;
  align-items: center;
  justify-content: flex-end;
}
