
.skill{
 display: flex;
 margin:2px;
 height:725px;
 box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.skill,h1{
    margin: 2px;
    padding:5px;
    text-align: center;
}
.order{
display: block;
white-space: normal;
align-self: center;
margin-left: 350px;

font-size: 40px;
list-style: none;
}